#Globale Parameter
  PNUMBER 10240
  PMASS 1
  PRADIUS 0.5
  TIMESTEP 0.001
  SPRINGCONST 4000
  NORMALDAMPING 0.001
  SYSTEMSIZE 10260 1.5
  VISKOSITY 0.01
  STARTTIME 0
  INITIAL LOOSEST
  OFFSETUPDATE 1000
#Protocol Parameters 
  KRITERION ENERGY 0.001 1000
  TAPTYPE RDELTA 5 0 2
  NUMTAP 10
#VISUALIZATION PARAMETER
  VISUALIZER 1
  VBOXSIZE 800 800
  VLINE 150
  EGDES 15
  VINTERVAL 10000
  BITMAPSAVE 0
#OUTOUT PARAMETERS
  BASENAME testsimulation
  SNAP INF
  