#test of impulse conservation
#Globale Parameter
  USEOPENCL 1
  CLTARGET 0 0
  PNUMBER 2
  PMASS 1
  PRADIUS 0.5
  TIMESTEP 0.01
  SPRINGCONST 4000
  NORMALDAMPING 0.1
  SYSTEMSIZE 10 1.5
  VISKOSITY 0.0
  INITIAL FILE test3.init.state
  TIMEOFFSET 0 0
  OFFSETUPDATE 1000
  MAXTIMESTEPS 100
#Protocol Parameters 
  KRITERION ENERGY 0.00 20000000 # no tapping
  TAPTYPE RDELTA 0 0 0 # no tapping
  NUMTAP 1000
#VISUALIZATION PARAMETER
  VISUALIZER 1
  VBOXSIZE 800 800
  VLINE 10
  EGDES 15
  VINTERVAL 1000
  BITMAPSAVE 0
#OUTOUT PARAMETERS
  SAVEDETAILS 1
  BASENAME ./test2
  SNAP 1
  